.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    min-width: 350px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 1rem 10rem hsl(227, 10%, 46%);
    background-image: url('../images/bg-pattern-card.svg');
    background-repeat: no-repeat;
}